@import '../globals';

.view.contact {
  text-align: center;

  address {
    font-style: normal;
    margin: auto;
    max-width: 600px;
    text-align: center;

    > div {
      align-items: center;
      display: flex;
      flex-flow: column;
      justify-content: center;
      margin: 10px auto 40px;
      text-align: center;
    }
  }

  a {
    align-items: center;
    color: $oil;
    display: flex;
    font-style: normal;
    margin: 10px 0;

    svg {
      margin-right: 10px;
    }
  }
}
