@import '../globals';

.view {
  animation: 1s ease-in-out 0s 1 loadingAnimation;
  margin: 50px auto 100px;
  max-width: 1000px;

  @keyframes loadingAnimation {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .title {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: .4rem;
    padding: 50px 0 30px;
    text-align: center;
    text-transform: uppercase;
  }

  .subtitle {
    letter-spacing: .2rem;
  }

  article {
    font-size: 1.1rem;
    margin: auto;
    max-width: 800px;
    text-align: justify;

    p {
      text-indent: 30px;
    }
  }
}
