@import '../globals';

footer {
  align-items: center;
  background-color: $white;
  bottom: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  min-height: 75px;
  position: fixed;
  width: calc(100% - 20px);
  z-index: 999;

  a {
    font-size: 1.2rem;
    margin: 0 10px 8px 0;
  }

  &::before {
    background: linear-gradient(0deg, $white 0%, rgba(255, 255, 255, 0) 100%);
    content: '';
    display: block;
    height: 10px;
    position: absolute;
    top: -10px;
    width: 100%;
  }
}
