@import '../globals';

.spinner {
  align-items: center;
  animation: spinnerAnimation 1s infinite ease-in-out;
  background: $grey;
  border-radius: 100%;
  display: flex;
  height: 40px;
  justify-content: center;
  left: calc(50% - 20px);
  position: absolute;
  top: calc(50% - 60px);
  width: 40px;
}

@keyframes spinnerAnimation {
  0% {
    transform: scale(0);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}
