$item-width: 300px;
$item-margin: 10px;

.track-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 50px;

  .track {
    margin: 10px $item-margin 50px;
    width: $item-width;
  }

  .padding-item {
    height: 0;
    margin: 0 $item-margin;
    width: $item-width;
  }
}
